<div class="hero">
  <br />

  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br/><br />
  </div>
</div>

<br />

<div class="booyah-box col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <%= image_tag 'pb1.png', class: 'icons' %>
    <br /> <br />
    <h3>Comprehensive Video Tutorials</h3>
    <br/>
  </div>
  <div class="col-sm-4">
    <%= image_tag 'mw2.png', class: 'icons' %>
    <br /><br />
    <h3>Performance Tips and Tricks from the Masters</h3>
    <br />
  </div>
  <div class="col-sm-4">
    <%= image_tag 'lb1.png', class: 'icons' %>
    <br /><br />
    <h3>Turn Your Own Ideas into Magic</h3>
    <br />
  </div>
</div>
