/* COURSES */

.courses-box {
  margin-bottom: 50px;
  margin-top: 40px;
}

.courses-hr {
  margin-bottom: 50px;
}

/* KIND OF POINTLESS VERTICAL RULE + BOTTOM DIV BORDER ON COURSES SHOW PAGE */

.vr {
  border-right: 3px solid grey;
  height: 100%;
  padding-left: 80px;
}

.cd {
  padding-left: 60px;
  padding-top: 16px;
}