@import "bootstrap-sprockets";
@import "bootstrap";



/* BOX */

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}



/* BODY */

body {
  background: url('bg.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}



/* NAVBAR */

.navbar {
  border-radius:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('wood_1.png');
}

.navbar-inverse a.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color:white;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}



/* HERO */

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;
}

.frosty h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}





/* HORIONTAL RULE IN DASHBOARD */

.hrd {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}




/* LINKS */

a {
  color:black;
  text-decoration:none;
}

a:hover {
  color:grey;
  text-decoration:none;
}

.titles {
  text-align:left;
}



/* SECTIONS */

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
  margin:20px;
}




/* LESSONS */

.lessons li {
  background:black;
  color:white;
  margin:10px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight: 100;
  padding:8px;
  font-size:15px;
}

.lessons li b {
  font-size:25px;
  font-weight:100;
}

.lessons li p {
  margin:0;
}

.lesson {
  background-color:black;
  margin-top:10px;
  height:130px;
}

.lesson a {
  color:white;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight:100;
  font-size: 15px;
}


.lesson a b {
  font-weight: 100;
  font-size:25px;
}




/* IMAGES */

.img-responsive {
    display: block;
    max-width: 100%;
    max-height: 350px;
}

.imgs {
  margin: 0 auto;
}



/* BUTTONS */

.btn {
  border-radius:20;
}

.btn btn-primary {
  background: #4385BA
}

.instructor-btns {
  position: relative;
  margin: auto; 
}




/* VERTICAL RULE + BOTTOM DIV BORDER ON COURSES SHOW */

.vr {
  border-right: 3px solid grey;
  height: 100%;
  padding-left: 80px;
}

.cd {
  padding-left: 60px;
  padding-top: 16px;
}




/* LISTS & SOME OTHER STUFF */

ul {
      list-style-type: none;
}

ul .header {
  font-size:25px;
}

ul .header .glyphicon {
  font-size:20px;
}


.clr {
  clear:both;
}


.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px
}